.container {
    background-color: #fff;
    display: flex;
    padding: 6px;
    border-radius: 5px;
    border: 1px solid #fff;
}

.button {
    background-color: #f9f9fb;
    width: 48px;
    height: 48px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input {
    border: 0;
    outline: 0;
    flex: 1;
    height: 48px;
    font-weight: 400;
    font-size: 16px;
    margin: 0 13px;
}