.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 19px;
    border: 2px solid transparent;
    font-weight: 600;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

.notAllowed {
    cursor: not-allowed;
}