.container {
    background-color: #fff;
    padding: 30px 10px 10px 20px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    width: 100%;
}

.form {
    flex: 1;
    border-top: 1.5px solid rgba(27, 27, 27, 0.1);
    width: 100%;
}

.btnArea {
    width: 100%;
}