.container {
    padding: 30px 10px 10px 20px;
}

.header {
    border-bottom: 1.5px solid rgba(27, 27, 27, 0.1);
}

.form {
    margin-top: 24px;
}

.row {
    margin-top: 24px;
}

.column input {
    margin: 0;
    padding-left: 24px;
}

.btnArea {
    margin-top: 24px;
}