.container {
    background-color: #fff;
    padding: 30px 10px 10px 20px;
}

.areaQuantity {
    border-top: 1.5px solid rgba(27, 27, 27, 0.1);
    border-bottom: 1.5px solid rgba(27, 27, 27, 0.1);
    color: #1b1b1b;
    font-weight: 400;
    font-size: 18px;
    padding: 18px 0;
}

.areaItem {
    display: flex;
    justify-content: space-between;
    margin-top: 14px;
    padding-bottom: 23px;
    border-bottom: 1.5px solid rgba(27, 27, 27, 0.1);
}

.areaItemInfoCategory {
    font-weight: 400;
    font-size: 10px;
    color: rgba(27, 27, 27, 0.5);
}

.areaItemInfoTitle {
    font-weight: 500;
    font-size: 14px;
    color: #1b1b1b;
}

.areaItemInfoPrice {
    font-weight: 600;
    font-size: 14px;
    color: #000;
}

.shippingArea {
    margin-top: 31px;
}

.shippingTitle {
    font-weight: 400;
    font-size: 16px;
    color: #6a7d8b;
    margin-bottom: 16px;
}

.shippingForm {
    display: flex;
    gap: 14px;
}

.shippingInfo {
    background-color: #f9f9fa;
    border-radius: 8px;
    margin-top: 16px;
    padding: 24px 32px;
}

.shippingAddress {
    font-weight: 400;
    font-size: 10px;
    color: #6a7d8b;
}

.shippingTime {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.shippingTimeText {
    font-weight: 400;
    font-size: 16px;
    color: #000;
}

.shippingPrice {
    font-weight: 600;
    font-size: 16px;
    color: #000;
}

.resumeArea {
    background-color: #f9f9fb;
    border-radius: 8px;
    margin-top: 16px;
    padding: 48px 32px;
}

.resumeItem {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.resumeLeft {
    font-weight: 400;
    font-size: 16px;
    color: #000;
    flex: 1;
}

.resumeRight {
    font-weight: 500;
    font-size: 16px;
    color: #000;
}

.resumeLine {
    border-top: 1px dashed #96a3ab;
    margin-bottom: 29px;
}

.resumeRightBig {
    font-weight: 600;
    font-size: 24px;
    color: #000;
}

.resumeButton {
    margin-top: 40px;
}